<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Tic-Tac-Toe Game</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {{#if user}} <!-- Kiểm tra nếu người dùng đã đăng nhập -->
        <li class="nav-item">
          <img src="{{user.avatar}}" alt="avatar" class="rounded-circle" width="40" height="40">
          <span class="ml-2">{{user.username}}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Đăng xuất</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/login">Đăng nhập</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Đăng ký</a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>
